<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.swappit">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_swappit"
        android:label="SwappIT"
        android:roundIcon="@mipmap/ic_launcher_swappit"
        android:supportsRtl="true"
        android:theme="@style/Theme.SwappIT">
        <activity android:name=".OnBoarding"></activity>
        <activity android:name=".ProfileScreen" />
        <activity android:name=".HomeScreen" />
        <activity android:name=".SignUpScreen" />
        <activity android:name=".LogInScreen" />
        <activity android:name=".WelcomeScreen" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

    <uses-permission android:name="android.permission.INTERNET" />

</manifest>